// COLORS
$red: #fd5948;
$blue: blue;
$lemonade: #fbffa7;
$peppermint: #b6ffc0;
$lavender: #d5b3ff;
$periwinkle: #b1c5ff;
$light-gray: #f3f3f3;
$facebook: #3477f2;
$twitter: #1da1f2;
$youtube: #ff001d;
$instagram: #f77737;
